@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/resources/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 400;
    /* Adjust weight as needed */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/resources/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 400;
    /* Adjust weight as needed */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/resources/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Adjust weight as needed */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/resources/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 400;
    /* Adjust weight as needed */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: url('/resources/fonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: 400;
    /* Adjust weight as needed */
    font-style: normal;
}