@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/resources/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 400;
    /* Adjust weight as needed */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/resources/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 400;
    /* Adjust weight as needed */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/resources/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Adjust weight as needed */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/resources/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 400;
    /* Adjust weight as needed */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: url('/resources/fonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: 400;
    /* Adjust weight as needed */
    font-style: normal;
}

html {
    font-size: 14px
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: 12px; /* For Firefox */
    scrollbar-color: #292C33 #3A3C43; /* Thumb and track colors */
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 12px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #292C33; /* Thumb color */
    border-radius: 4px; /* Rounded corners */
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #3A3C43; /* Track color */
  }
}