.fellowshipContainer {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.fellowshipText {
    text-align: center;
    padding: 1vw 10px 1vw 10px;
    cursor: pointer;
}
.fellowshipProgramTitle {
    font-family: "Gilroy-SemiBold";
    font-style: normal;
    font-weight: 400;
    font-size: 1.111vw;
    line-height: 1.667vw;
    color: #231f20;
}
.launchTechCareerText {
    font-family: "Gilroy-Medium";
    font-style: normal;
    font-weight: 400;
    font-size: 0.764vw;
    line-height: 0.833vw;
    color: #5a74d7;
    text-decoration: none;
}
.launchCareerhead{
    color: #020617;
}
.launchCareerpara{
    color: #020617;
}
.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 2px;
    width: 150px;
    height: 80px;
    background-color: #e1e7f8;
    border-radius: 8px;
}
.hoverBox {
    box-sizing: content-box;
    display: none;
    position: absolute;
    top: 4.5vw;
    left: 0;
    background-color: white;
    border-radius: 0vw 0vw 1.389vw 1.389vw;
    border: 1px solid #e5e5e5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1.389vw;
    width: 17.25vw;
    z-index: 1000;
    text-align: left;
}
.fellowshipContainer:hover .hoverBox {
    display: block;
}
.hoverBox h4 {
    font-family: Gilroy-Bold;
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 2.222vw;
    letter-spacing: 0.02em;
}
.hoverBox p {
    font-family: Gilroy-Regular;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.5vw;
    letter-spacing: 0.02em;
}
.launchCareerImage {
    margin: 0.833vw auto;
    width: 13.333vw;
}
.hoverBoxButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.556vw;
    margin-bottom: 0.833vw;
    justify-items: center;
}
.hoverBoxButtons button {
    font-family: Gilroy-Medium;
    background: #f1f5f9;
    border: 1px solid #64748b;
    border-radius: 2.083vw;
    padding: 0.278vw 0.417vw;
    font-size: 0.694vw;
    line-height: 1.111vw;
    cursor: pointer;
    color: #64748b;
    width: fit-content;
}
.exploreProgramBtn {
    margin: 0 auto;
    display: block;
    width: 16.25vw;
    background: #3940a0;
    color: white;
    border: none;
    padding: 0.556vw 3.33vw;
    font-size: 0.972vw;
    line-height: 1.667vw;
    border-radius: 0.417vw;
    cursor: pointer;
    transition: all 0.3s ease;
}
.exploreProgramBtn:hover {
    background-color: #303693;
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 600px) {
    .fellowshipProgramTitle {
        font-family: Gilroy-SemiBold;
        font-size: 4.267vw;
        font-weight: 400;
        line-height: 6.4vw;
        letter-spacing: 0.02em;
        text-align: left;
    }
    .launchTechCareerText {
        font-family: Gilroy-Medium;
        font-size: 2.667vw;
        font-weight: 400;
        line-height: 3.2vw;
        letter-spacing: 0.02em;
        text-align: left;
        margin: 0;
    }
    .hoverBox {
        display: none;
    }
    .fellowshipContainer:hover .hoverBox {
        display: none;
    }
}
